/* Site-wide CSS */
body{
	/*set global background and font formatting*/
	background-color: #1c1b1c;
	background: url("/static/img/bg.jpg")no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #ffffff;
	font-family: 'Cabin', sans-serif;
	text-align: center;
	margin: 0px;
}

header{
	/*Header spanning the entire top of the screen*/
	width: calc(100% - 60px);
	padding: 30px;
	background-color: #00000069;
}

/* Classes */
.inputwords{
	/*User input field used for prime number input*/
	background-color: #252f3973;
	/*border: 2px solid #343f55;*/
	border: none;
	font-size: 52px;
	width: 240px;
	color: white;
	text-align: center;
	border-radius: 30px;
	padding: 10px 30px 10px 30px;
}

.inputwords:focus {
	/*stop outline appearing*/
    outline: none;
}

.buttons{
	/*Form or hyperlink button theme*/
	background-color: #1f4a60ab;
	padding: 10px 15px 10px 15px;
	color: aliceblue;
	border: none;
	margin: 5px;
	font-size: 24px;
	cursor: pointer;
	text-decoration: none;
}

.buttons:hover{
	/*change button colour on hover*/
	background-color: #1f4a60e3
}

.content{
	/*Box containing content for the page*/
	display: inline-block;
	background-color: #ffffff73;
	padding: 20px 40px 20px 40px;
	color: #575760;
	border: none;
	margin: 50px;
	font-size: 16px;	

}

.errortxt{
	/*Error text formatting for the form page*/
	color: red;
}

.primedisplay{
	/*Formatting for the number display on the prime page*/
	font-size: 42px;
}

.jsonbox{
	/*Formatting for the text box containing the JSON output*/
	width: 400px;
	overflow: scroll;
	background-color: #ffffff73;
}