<html>
<head>
<!-- Add the necessary JS module for including other HTML pages -->
<script src="{{url_for('static', filename='include.js')}}"></script>
<!-- Load the custom CSS file -->
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<!-- Load a font from Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet"> 
</head>
<body onload="document.cookie='buttonclick='"><!-- Reset cookies on page load - used for time calculations -->
	
<!-- Include the navigation page - useful for consistency over multiple pages -->
<div w3-include-html={{url_for('static', filename='nav.html')}}></div> 

<div class="content">
<!-- Use flask to check if any error codes are included in the URL and print the error message if so -->
{% if err=="nan" %}
	<span class="errortxt"> Please enter an integer! </span>
{% elif err=="high" %}
	<span class="errortxt"> That number is too high.. I only have a single core! </span>
{% endif %}

<!-- The form where users can input the number that primes are checked up to -->
<p>Enter the number you'd like to check for primes up to:</p>
<form action="/primes" method="POST">
	<input type="text" class="inputwords" name="prime"/>
	<br>
	<input type="submit" class="buttons" name="action" value="Submit" onclick="document.cookie='buttonclick=' + Date();"/><!-- Set cookie so that the current time is logged for time calculations -->
	</form>
</div>

</body>
<script>
//Use JS to populate the w3-include-html div element with the actual page contents
includeHTML();
</script> 
</html>
