<html>
<head>
<!-- Add the necessary JS module for including other HTML pages -->
<script src="{{url_for('static', filename='include.js')}}"></script>
<!-- Load the custom CSS file -->
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<!-- Load a font from Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet"> 
</head>
<body>

<!-- Include the navigation page - useful for consistency over multiple pages -->	
<div w3-include-html={{url_for('static', filename='nav.html')}}></div> 

<div class="content">
<p>You wanted primes up to:</p>
<!-- Display the prime number requested using flask -->
<span class="primedisplay"> {{ prime }} </span>

<br>

<p> Please find your JSON below: </p>

<!-- Return the JSON to the user using Flask, via a text area, using the output generated from the script -->
<textarea id="jsontext" class="jsonbox">
{{ json_return }}
</textarea>
<br>

<!-- Create a blank span so that the time string can be populated once the page has loaded using JS -->
<span id="jsontime"></span>

<br><br>

<input value='Download JSON' type='button' class="buttons" onclick='dljson()'>
<script type='text/javascript'>
function dljson() {
	// A JS function to dump the contents of the textarea containing the JSON to a file
	// modified from https://codepen.io/pedro404/pen/KKaaovd
	data = document.getElementById("jsontext").value; //get textbox value (i.e. the JSON) 
	link = document.createElement('a'); //create new link in document
	link.download = 'primes_{{ prime }}.json'; //create new URL for file (e.g. filename wanted)
	contents = new Blob(['' + data + ''], {	type: 'text/plain'}); //create raw data from json box string
	link.href = URL.createObjectURL(contents); //create temporary url object
	link.click(); //click the new link to trigger the download
	URL.revokeObjectURL(link.href); //remove the object to cleanup
}
</script>


<br><br>
<!-- A link back to the main app page so that more primes can be generated if necessary -->
<a href="/" class="buttons">Generate another prime</a>

<script type='text/javascript'>
	function getCookie(cname) {
		//A JS function to retrieve a cookie value
		//Necessary to find the timestamp relating to the prime generating button being pressed 
		//Taken directly from https://www.w3schools.com/js/js_cookies.asp
  		let name = cname + "=";
  		let decodedCookie = decodeURIComponent(document.cookie);
  		let ca = decodedCookie.split(';');
  		for(let i = 0; i <ca.length; i++) {
    		let c = ca[i];
    		while (c.charAt(0) == ' ') {
      			c = c.substring(1);
    		}
    		if (c.indexOf(name) == 0) {
      			return c.substring(name.length, c.length);
    		}
  		}
  	return "";
	}

	function hms_to_s(time){
		//A function to convert a hh:mm:ss time string into the number of seconds
		time = time.split(":"); //split the string on the ; character
		//Get hours/minutes/seconds from the resulting list and convert them into a number
		hours = Number(time[0]);
		mins = Number(time[1]);
		secs = Number(time[2]);
		total_secs = secs + (mins * 60) + (hours * 60 * 60); //convert the times into total number of seconds
		return total_secs;
	}

	document.addEventListener('readystatechange', event => { 
		//JS that runs when the page has finished loading
		//Modified from https://stackoverflow.com/questions/11936816/execute-function-after-complete-page-load
	    if (event.target.readyState === "complete") { //once the page has loaded
	        var jquerydone = hms_to_s(Date().split(" ")[4]); //convert the current time into seconds since midnight
			var buttonclick = hms_to_s(getCookie("buttonclick").split(" ")[4]); //convert time time that the button was pressed to seconds since midnight
			var timediff = jquerydone - buttonclick //subtract the button press time from the page load time to get total latency between sending the command and getting the return JSON
			var jsonspan = document.getElementById('jsontime'); //find the empty span element that was created above
			jsonspan.innerHTML = 'Your JSON took <strong>' + timediff + "</strong> seconds to produce"; //fill that span element with the time string
	    }
	});
</script>

</div>
</body>
<script>
//Use JS to populate the w3-include-html div element with the actual page contents
includeHTML();
</script> 
</html>